{% extends 'BBITAdminBundle::base.html.twig' %}

{% block body %}


    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addPartialLink = $('<a href="#" class="add_partial_link">Add a partial</a>');
        var $newLinkLi = $('<li></li>').append($addPartialLink);



        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.partials');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addPartialLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addPartialForm($collectionHolder, $newLinkLi);
            });
        });

        function addPartialForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

    </script>




    edit

    {{ form_start(form) }}
    title:<br>
    {{ form_widget(form.title) }}
    <br>
    slug:<br>
    {{ form_widget(form.slug) }}

    <ul class="partials" data-prototype="{{ form_widget(form.partials.vars.prototype)|e }}">
        {% for partial in form.partials %}
            <li>{{ form_widget(partial) }}</li>
        {% endfor %}
    </ul>
    {{ form_end(form) }}

{% endblock %}

{% macro widget_prototype(widget, remove_text) %}
    {% if widget.get('prototype') %}
        {% set form = widget.get('prototype') %}
        {% set name = widget.get('prototype').get('name') %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.get('full_name') %}
    {% endif %}

    <div data-content="{{ name }}">
        <a class="btn-remove" data-related="{{ name }}">{{ remove_text }}</a>
        {{ form_widget(form) }}
    </div>
{% endmacro %}

{% block title %}

{% endblock %}

