{% extends 'BBITAdminBundle::base.html.twig' %}

{% block title %}{{ project_name }} Dashboard Pages{% endblock %}

{% block body %}

    <a href="{{ path('bbit_pages_create') }}">create</a>

    <table class="table">
    <tr>
        <th>id</th>
        <th>item</th>
        <th>action</th>
    </tr>
    {% for item in items %}
        <tr>
            <td>
                {{ item.id }}
            </td>
            <td>
                {{ item }}
            </td>
            <td>
                <a href="{{ path('bbit_pages_edit', {'id': item.id}) }}">edit</a>
                <br>
                <a href="{{ path('bbit_pages_remove', {'id': item.id}) }}">remove</a>
            </td>
        </tr>
    {% endfor %}

    </table>

{% endblock %}
